body {
  margin: 0;
  background-color: rgb(253, 233, 233);
  font-family: Helvetica, sans-serif;
}

.page {
  background-color: rgb(255, 195, 116);
  display: flex;
  justify-content: center;
  align-items: center;
}